body{
    font-family: papyrus;
    background-color: lightgray;
    text-align: center;
    border-style: dotted;
    border-color: goldenrod;
    margin: auto;

}
.place{
    color: coral;
}
.list li{
    list-style-type: none;
}
.list ol{
    list-style-type: none;
}
.list{
    text-align: center;
}
.button{
    background-color: goldenrod;
    padding: 5,5,5,5;
}
.results{
    font-size: large;
    color: darkred;
}
.instructions{
    font-size: large;
    color: darkred;
    font-weight: bold;
}


